<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://mozilla.org" tabindex="0">
    <img src="{{brandURL}}" alt="mozilla logo" width="120" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-12 justify-content-end">
      <li class="nav-item pull-right">
        <a class="nav-link" tabindex="0" href="https://github.com/kimberlythegeek/accessibility_dashboard">
          Fork on Github <i class="fa fa-code-fork"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>