@import 'photon-colors';

.navbar-light .navbar-nav .nav-link {
  color: $blue-60;
}

a,
span[role=button],
.navbar-light .navbar-nav .nav-link {
  border: 3px solid transparent;
  padding: 2px;
}

a:hover,
.navbar-light .navbar-nav .nav-link:hover,
span[role=button]:hover {
  border: 3px dotted $blue-60;
}

.moz-success {
  background-color: $green-50;
}
.moz-warning {
  background-color: $yellow-50;
}
.moz-serious {
  background-color: $orange-50;
}
.moz-danger {
  background-color: $red-50;
}


