<li (click)="toggle()" class="site-element list-group-item">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-10">{{ site.url | slice:8 }}</div>
            <div class="col-1">
                <span class="badge" [ngClass]="siteStatus(site)">{{ site.data['violations'].length }}</span>
            </div>
            <div class="col-1">
              <a [href]="site.url">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </div>
        </div>
        <div class="row">
            <div *ngIf="show" class="col-12">
                <ul class="list-unstyled list-group">
                    <app-violation 
                        *ngFor="let violation of site.data['violations']" 
                        [violation]="violation">
                    </app-violation>
                </ul>
                <small class="text-muted">Last updated {{ site.data.last_updated | timeAgo }}</small>
              </div>
        </div>
    </div>
</li>