<li class="list-group-item">
  <div class="container-fluid">
      <div class="row">
        <div class="col-8">Rule Violated: {{ violation.id }}</div>
        <div class="col-4">
          <span class="badge pull-right"
            [class.badge-primary]="violation.impact === 'minor'"
            [class.badge-success]="violation.impact === 'moderate'"
            [class.badge-warning]="violation.impact === 'serious'"
            [class.badge-danger]="violation.impact === 'critical'">
            {{ violation.impact }}
          </span>
        </div>
        <div class="col-xs-12">Description: {{ violation.description }}</div>
        <div class="col-xs-12">Message: {{ violation.help }}</div>
        <div class="col-xs-12">Message: {{ violation.help }}</div>
      </div>
    </div>
</li>